@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rest Azure App!</h1>
    <p>Click here to visit the <a href="/Admin">Dashboard</a>.</p>
</div>
