/*------------------------ EDDIE'S CUSTOM STYLING -------------------------*/
.navbar.default-layout .navbar-brand-wrapper .navbar-brand img.mainLogo123 {
    width: 100%;
}

.sidebar {
    background: linear-gradient(to top, #00ccc9, #010488) !important;
}

.navbar.default-layout .navbar-brand-wrapper {
    background: #2b333e;
}

.app-sidebar {
    background: #505865;
}

.item-purchase-banner {
    display: none;
}

.purchase-banner-active .navbar.fixed-top + .page-body-wrapper {
    padding-top: 55px;
}

.purchase-banner-active .navbar.fixed-top {
    top: 0px;
}

.restAzureLogo {
    width: 220px !important;
}
.chatbot-image {
    width: 45%;
}

.contact {
    background-color: #f5f5ff !important;
}

section#contact {
    background-color: #f5f5ff !important;
}

/*Eddie's Customizations*/

.text-center.navbar-brand-wrapper.d-flex.align-items-top.justify-content-center {
    background: #010488 !important;
}

.edTextTitle {
    margin-top: 10px;
}

.page-title {
    margin-top: 0;
    margin-bottom: 2px;
    padding-left: 0.5em;
    font-size: 1.5em;
}

.content-wrapper {
    padding-bottom: 10%;
}

.table-hover {
    --bs-table-hover-bg: rgb(135 193 248 / 20%);
}

.table-hover tbody tr:hover td {
    background-color: rgb(135 193 248 / 20%) !important;
}

.ed-icon-holder {
    border: 1px solid #023b1173 !important;
    background: #ffeb3bb5 !important;
    color: #03ac2f !important;
}